<IfModule mod_rewrite.c>

RewriteEngine On
RewriteBase /

</IfModule>

php_value max_execution_time 12000
php_value memory_limit 500M
php_value post_max_size 500M
php_value upload_max_filesize 500M

php_flag enable_dl On
php_flag apc.rfc1867 On

php_value error_reporting 0

php_flag session.use_cookies On
php_value session.cookie_lifetime 999999999
php_value session.gc_maxlifetime 999999999


